In [12]:
class Book:
  def __init__(self,name,price,discountRate):
    self.__bookName=name
    self.__bookPrice=price
    self.__bookDiscountRate=discountRate
  
  def setbookPrice(self,bookPrice):
    if bookPrice>0:
      self.__bookPrice=bookPrice
  
  def getBookPrice(self):
    return self.__bookPrice
  
  def getDiscountBookPrice(self):
    if self.__bookDiscountRate>=0 and self.__bookPrice>self.__bookDiscountRate:
      discountedprice=self.__bookPrice*self.__bookDiscountRate/100
      return discountedprice

  def __str__(self):
    return self.__bookName+" " + str(self.__bookPrice)+"원 "+str(self.__bookDiscountRate)+"%"

In [13]:
booklist=[]
mybook1=Book("SQL Plus",50000,5)
mybook2=Book("Java 2.0",40000,3)
mybook3=Book("JSP Servlet",60000,6)
 
booklist.append(mybook1)
booklist.append(mybook2)
booklist.append(mybook3)

a=mybook1.getBookPrice()+mybook2.getBookPrice()+mybook3.getBookPrice()
b=a-(mybook1.getDiscountBookPrice()+mybook2.getDiscountBookPrice()+mybook3.getDiscountBookPrice())
 
for i in range(3):
  print(booklist[i])
  
print("\n책 가격의 합:",a)
print("할인 된 책 가격의 합:",b)

SQL Plus 50000원 5%
Java 2.0 40000원 3%
JSP Servlet 60000원 6%

책 가격의 합: 150000
할인 된 책 가격의 합: 142700.0